@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    color: #f6f6f6;
}

body{
    background-color: #2c2c2c;
}

.rejestracja{
    height: 200px;
    padding: 15px;
    background-color: #f6f6f6;
    border-radius: 15px;
}
.rejestracja h4{
    color: #2c2c2c;
    font-size: 18px;
    left: 25%;
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    font-size: 14px;
}

.row{
    height: 100px;
    cursor: pointer;
}

.zly{
    color: rgb(201, 32, 32);
}
.dobry{
    color: rgb(21, 211, 21);
}

